.nav-bar {
  width: 250px;
  position: relative;
  img {
    width: 25px;
    margin-right: 5px;
  }

  ul {
    list-style: none;
  }

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--secondary-color);
    width: 100%;
    padding: 10px 20px;
    transition: 0.25s;
  }

  &:hover {
    .menu {
      display: block;
    }
  }
}

.categories {
  display: flex;
  align-items: center;
  background-color: #fff;
  color: var(--secondary-color);
  font-size: 18px;
  padding: 10px;

  span {
    margin-left: 5px;
    font-weight: 600;
  }
}

.sub-menu {
  width: 600px;
  height: 300px;
  position: absolute;
  border-left: 3px solid var(--primary-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  top: 0;
  left: 100%;
  z-index: 1000;
  display: none;
  transition: 0.25s;

  li {
    display: inline-block;
    width: calc(100% / 3);
    transition: 0.25s;

    a {
      font-weight: 500;
      padding: 10px 15px;
      transition: 0.25s;
    }

    &:hover {
      background-color: rgb(234, 27, 37, 0.5);

      a {
        color: #fff;
      }
    }
  }
}

.menu {
  width: 100%;
  position: absolute;
  left: 0;
  top: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: none;
  animation: fade 0.3s linear;

  & > li:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  & > li {
    background-color: #fff;
    & > a:hover {
      padding-left: 30px;
      color: var(--primary-color);
    }

    &:hover .sub-menu {
      display: block;
    }
  }
}

.sm1 {
  background: url('../../../assets/images/bg1.jpg') no-repeat center/cover;
}
.sm2 {
  background: url('../../../assets/images/bg2.jpg') no-repeat center/cover;
}
.sm3 {
  background: url('../../../assets/images/bg3.jpg') no-repeat center/cover;
}
.sm4 {
  background: url('../../../assets/images/bg4.jpg') no-repeat center/cover;
}
.sm5 {
  background: url('../../../assets/images/bg5.jpg') no-repeat center/cover;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
