:root {
  --primary-color: #ea1b25;
  --secondary-color: #222;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.line-through {
  color: #2222227a !important;
  text-decoration: line-through !important;
  font-weight: 500 !important;
}

.product__price {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  margin-top: 5px;
}

.slick-arrow::before {
  font-size: 30px;
  color: #222;
}

.slick-prev {
  left: -35px;
}

.slick-dots {
  bottom: -65px;

  li {
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
  }
  & .slick-active {
    border-color: var(--primary-color);
  }
}

a {
  text-decoration: none;
}

.MuiFormControl-root {
  margin-bottom: 40px !important;
  position: relative !important;

  & p {
    position: absolute !important;
    left: 0 !important;
    bottom: -25px !important;
    margin: unset !important;
  }
}
